<div class="container-fluid p-0">
  <div class="page-title  mb-3">
    <h2><a [routerLink]="[ '/sub-policies/sub-policies-list/', subPolicyDetails?.policyId]"
        [queryParams]="{ version: subPolicyDetails?.version }" class="me-2 text-dark"><i
          class="bi bi-arrow-left-circle"></i></a> Privacy
      and Data Policy Completed (Version : {{subPolicyDetails?.version}})</h2>
  </div>

  <div class="card">
    <div class="card-header">
      <ul class="linemanager-emplyee-btn mb-4">
        <li>
          <a (click)="changeType('LINE_MANAGER')" [ngClass]="dataType == 'LINE_MANAGER' ? 'active': ''">
            Line Manager
          </a>
        </li>
        <li>
          <a (click)="changeType('EMPLOYEE')" [ngClass]="dataType == 'EMPLOYEE' ? 'active': ''">
            Employee
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped mb-0">
          <thead class="table-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Version</th>
              <th scope="col">Score</th>
              <th scope="col">Date</th>
              <th scope="col">Result </th>
              <th scope="col">Time Taken </th>
              <th scope="col">Attempt </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngIf="!dataList?.length" colspan="7">
                <app-no-record-found></app-no-record-found>
              </td>
            </tr>

            <ng-container *ngFor="let item of dataList">
              <tr>

                <td>
                  <a [routerLink]="[ '/admin/show-exam-questions-admin',item?.resultDetails?.[0]?._id]">{{ item?.firstName }} {{ item?.lastName }} </a>
                </td>

                <!-- <td>{{ item?.firstName }} {{ item?.lastName }} </td> -->
                <td>Version {{ subPolicyDetails?.version }}</td>
                <td>{{ item?.latestResult?.score }}</td>
                <td>{{ item?.latestResult?.submitDate | gmtDate }}</td>
                <td>
                  <span *ngIf="item?.latestResult?.resultStatus == '2'"
                    class="btn btn-danger btn-sm rounded">Fail</span>
                  <span *ngIf="item?.latestResult?.resultStatus == '1'"
                    class="btn btn-success btn-sm rounded">Pass</span>
                </td>
                <td>{{ convertDecimalMinutesToMinSec(item?.latestResult?.duration)  }} Min</td>
                <td><a href="" class="btn btn-danger btn-sm rounded">3 Day Left</a></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
