<div class="container-fluid p-0">
  <div class="page-title  mb-3">
    <h2> Support</h2>
    <!-- <h2><a href="policies.html" class="me-2 text-dark"><i class="bi bi-arrow-left-circle"></i></a> Support</h2> -->
  </div>

  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6 col-xl-6 col-12">
      <div class="LoginForm text-center">
        <img src="../../../../assets/img/message-send.png" class="mb-2 pt-2" />
        <p>Kindly contact on this email <a href="mailto:xyz@gmail.com">xyz@gmail.com</a><br> for support. </p>

      </div>
    </div>
  </div>

</div>