<main>
  <div class="login-container">
    <div class="row login-row m-0">
      <div class="login-leftside">
        <img [src]="'assets/img/illustration-login.png'" alt="Illustration Login" class="img-fluid" />
      </div>
      <div class="login-content bg-white">
        <div class="LoginForm">
          <div class="text-center mb-4">
            <h1 class="h2"><strong>Compliance Portal</strong></h1>
          </div>
          <h1 class="h2 mb-3"><strong>Sign In</strong></h1>
          <p class="lead mb-4">Welcome back</p>
          <form [formGroup]="loginForm">
            <div class="form-group mb-3" *ngIf="!isShowOTP">
              <label class="form-label">Enter your email address</label>
              <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email"
                formControlName="email" />
              <small class="text-danger" *ngIf="submitted && f['email'].errors?.['required']">
                Email is required
              </small>
              <small class="text-danger" *ngIf="submitted && f['email'].errors?.['email']">
                Enter a valid email
              </small>
            </div>

            <div class="form-group mb-3" *ngIf="isShowOTP">
              <label class="form-label">Enter OTP</label>
              <input class="form-control form-control-lg" type="number" name="otp" placeholder="Enter your otp"
                formControlName="otp" />
              <small class="text-danger" *ngIf="submitted && f['otp'].errors?.['required']">
                Please Enter OTP.
              </small>
            </div>

            <!-- <div class="form-group mb-4">
              <label class="form-label">Enter your password</label>
              <div class="password-input-wrapper">
                <input class="form-control form-control-lg" type="password" name="password"
                  [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password"
                  formControlName="password" />
                <span class="password-toggle" (click)="togglePassword()">
                  <i class="bi" [class.bi-eye]="!showPassword" [class.bi-eye-slash]="showPassword"></i>
                </span>
              </div>
              <small class="text-danger" *ngIf="submitted && f['password'].errors?.['required']">
                Password is required
              </small>
              <small class="text-danger" *ngIf="submitted && f['password'].errors?.['minlength']">
                Password must be at least 6 characters long
              </small>
            </div> -->

            <!-- <div class="d-grid gap-2 mt-4 text-center">
              <button type="submit" class="btn btn-lg btn-primary">
                Sign in
              </button>
              <a routerLink="/forgot" class="text-muted text-decoration-none">Forgot Password?</a>
            </div> -->
          </form>
          <div class="d-grid gap-2 mt-4 text-center">
            <!-- Live environment -->
            <!-- <button type="button" class="btn btn-lg btn-primary">
              <a href="https://api.delphiservices.co.uk/auth/microsoft" target="_blank"
                style="color: white; text-decoration: none;">
                Login with Microsoft</a>
            </button> -->

            <!-- <button type="button" class="btn btn-lg btn-primary" (click)="loginWithMicrosoft()">
              Login with Microsoft
            </button> -->

            <!-- Local -->
            <!-- <button type="button" class="btn btn-lg btn-primary">
              <a href="http://localhost:3006/auth/microsoft" target="_blank" style="color: white; text-decoration: none;">
                Login with Microsoft</a>
            </button> -->
            <button type="button" class="btn btn-lg btn-primary" (click)="submit()">
              Proceed
              <!-- {{ isShowOTP ? 'Sign in' : 'Proceed' }} -->
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
