<div class="container-fluid p-0">
    <div class="page-title mb-3">
        <h2><a routerLink="/policies/policies-list" class="me-2 text-dark"><i
                    class="bi bi-arrow-left-circle"></i></a>Terms and Conditions</h2>
    </div>

    <div class="card">
        <div class="card-body">
            <h4>General Terms and Conditions for Security Purposes</h4>
            <p><strong>1. Acceptance of Terms</strong></p>
            <p>By accessing or using [Company/Organization Name]'s systems, networks, or services, you
                agree to comply with these security terms and conditions. Failure to adhere to these
                terms may result in restricted access, termination of services, or legal action</p>
            <p><strong>2. User Responsibilities</strong></p>
            <ul class="ps-3">
                <li>Account Security: You are responsible for maintaining the confidentiality of your
                    account credentials (e.g., username, password, PINs). Do not share your credentials
                    with unauthorized individuals.</li>
                <li>Reporting Incidents: Immediately report any security breaches, suspicious
                    activities, or unauthorized access to [Company/Organization Name].
                <li>Compliance with Policies: Follow all security policies, procedures, and guidelines
                    provided by [Company/Organization Name].</li>
            </ul>
            <p><strong>3. Access Control</strong></p>
            <ul class="ps-3">
                <li>Account Security: You are responsible for maintaining the confidentiality of your
                    account credentials (e.g., username, password, PINs). Do not share your credentials
                    with unauthorized individuals.</li>
                <li>Reporting Incidents: Immediately report any security breaches, suspicious
                    activities, or unauthorized access to [Company/Organization Name].
                <li>Compliance with Policies: Follow all security policies, procedures, and guidelines
                    provided by [Company/Organization Name].</li>
            </ul>
            <p><strong>4. Data Protection</strong></p>
            <ul class="ps-3">
                <li>Account Security: You are responsible for maintaining the confidentiality of your
                    account credentials (e.g., username, password, PINs). Do not share your credentials
                    with unauthorized individuals.</li>
                <li>Reporting Incidents: Immediately report any security breaches, suspicious
                    activities, or unauthorized access to [Company/Organization Name].
                <li>Compliance with Policies: Follow all security policies, procedures, and guidelines
                    provided by [Company/Organization Name].</li>
            </ul>
            <p><strong>5. Prohibited Activities</strong></p>
            <ul class="ps-3">
                <li>Account Security: You are responsible for maintaining the confidentiality of your
                    account credentials (e.g., username, password, PINs). Do not share your credentials
                    with unauthorized individuals.</li>
                <li>Reporting Incidents: Immediately report any security breaches, suspicious
                    activities, or unauthorized access to [Company/Organization Name].
                <li>Compliance with Policies: Follow all security policies, procedures, and guidelines
                    provided by [Company/Organization Name].</li>
            </ul>
        </div>
        <div class="card-footer border-top">
            <div class="row align-items-center">
                <div class="col-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            I have read all the instructions carefully and have understood them.
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>