<div class="container-fluid p-0">
  <div class="page-title">
    <h2>    
      Change Password
    </h2>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-5 col-xl-5 col-md-6 col-sm-6 col-12">
          <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">

            <!-- Password Input with Pattern Validation -->
            <div class="mb-3">
              <label class="fw-bold">Password</label>
              <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Enter your password"
                  formControlName="password">
                <button type="button" class="btn btn-outline-secondary" (click)="showPassword = !showPassword">
                  <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
                </button>
              </div>
              <div class="text-danger small mt-1" *ngIf="submitted && f['password'].errors?.['required']">
                Password is required
              </div>
              <div class="text-danger small mt-1" *ngIf="submitted && f['password'].errors?.['pattern']">
                Password must contain at least 8 characters, including uppercase, lowercase, number, and special character.
              </div>
            </div>
      
      
            <!-- Confirm Password Input -->
            <div class="mb-3">
              <label class="fw-bold">Confirm Password</label>
              <div class="input-group">
                <input [type]="confirmPassword ? 'text' : 'password'" class="form-control"
                  placeholder="Confirm your password" formControlName="confirmPassword">
                <button type="button" class="btn btn-outline-secondary" (click)="confirmPassword = !confirmPassword">
                  <i class="bi" [ngClass]="confirmPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
                </button>
              </div>
              <div class="text-danger small mt-1" *ngIf="submitted && f['confirmPassword'].errors?.['required']">
                Confirm Password is required
              </div>
              <div class="text-danger small mt-1" *ngIf="submitted && changeForm.getError('mismatch')">
                Password and Confirm Password do not match
              </div>
            </div>
      
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary w-100">Change Password</button>
          </form>
        </div>
      </div>
    </div>

  
  </div>
</div>